body {
font:12px/14px arial,helvetica,sans-serif; 
font-size:80%;
margin:0;
padding:0;
text-align:center;
background-color:#FFFFFF;
}
.clear {
border:0 none;
clear:both;
font-size:1px;
height:0;
line-height:0;
margin:0;
padding:0;
position:relative;
}
#container {
margin:0 auto;
padding:0 20px;
text-align:left;
width:1200px;
/*max-width: 1050px;*/
text-align: left;
overflow: hidden;
position: relative;
}
/* CUSTOM TEXT */
#titletext {
font-weight:bold;
font-size:160%;
line-height: 140%;
margin:0;
padding:10px 0 15px;
}
#subtitletext {
font-weight:bold;
font-size:140%;
margin:0;
padding:10px 0 15px;
}
.white {
color:#FFFFFF;
}
.gray {
color:#555555;
}
.blue {
color:#3B6AA0;
}
.red {
color:#8C1717;
}
.green {
color:#2C5D3F;
}
.yellow {
color:#CD6600;
}
.brown {
color:#463B37;
}
.orange {
color:#CC6600;
}
.brightred {
color:#CC0000;
}
.purple {
color:#9400D3;
}
.lightpurple {
color:#8968CD;
}
.underline {
text-decoration:underline;
}
b {
font-size:120%;
font-weight:bold;
}

/* MAIN BODY */
#main {
width: 60%;
clear:right;
float: left;
position: relative;
}
#main a {
color:#3B6AA0;
text-decoration:none;
}
#main a:link {
color:#3B6AA0;
text-decoration:none;
}
#main a:visited {
color:#60AFFE;
text-decoration:none;
}
#main a:hover {
color:#3B6AA0;
text-decoration:underline;
}
#main-text-full {
width:90%;
font-size:120%;
line-height:130%;
/*padding:0 0 10px 0;*/
margin:0 0 10px 0;
}
#subtitletext-2 {
font-weight:bold;
font-size:120%;
margin:0;
padding:10px 0 10px;
}
#divider {
border-bottom: 0px solid #A8A8A8;
border-top: 1px solid #A8A8A8;
padding:10px 0 0 0;
width:90%;
}
#toc {
width:20%;
float:left;
padding:20px 0 5px;
}
#toc h{
font-size:140%;
font-weight:bold;
color:#CD6600;
margin-left:40px;
}
#toc ul{
float:left;
list-style-type: none;
}
#toc li{
padding:5px 0;
font-size:120%;
border-bottom: 1px solid #A8A8A8;
}
#toc a {
color:#3B6AA0;
text-decoration:none;
}
#toc a a:link {
color:#3B6AA0;
text-decoration:none;
}
#toc a:visited {
color:#60AFFE;
text-decoration:none;
}
#toc a:hover {
text-decoration:underline;
color:#CD6600;
}
#header-outer {
background:url("images/header-bg.png") repeat-x scroll 0 0 transparent;
}
#header {
width: 800px;
margin:0 auto;
padding:0 30px;
text-align:left;
max-width: 1050px;
}
#header-text {
padding: 60px 10px 10px 0;
text-align: left;
color: #FFFFFF;
font-weight:bold;
font-size:220%;
}
#header-subtext {
padding: 10px 10px 50px 0;
text-align: left;
color: #FFFFFF;
font-weight:bold;
font-size:120%;
}	
#header-image {
float:right;
padding: 5px 0px 10px 0;
}
#footer-outer {
background:url("images/footer-bg.png") repeat-x scroll 0 0 transparent;
}
#footer {
max-width: 1020px;
display: block;
margin: 0 auto;
padding: 10px 10px 10px 15px;
text-align: left;
}
#footer a {
color:#FFFFFF;
text-decoration:none;
font-size:110%;
padding: 0 0 5px 0;
}
#footer b {
font-size:100%;
color:#FFFFFF;
font-style:bold;
}
#footer-right {
float:right;
text-align:right;
}